aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
beautifulsoup4==4.14.3
boto3==1.42.66
botocore==1.42.66
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
db-dtypes==1.5.0
frozenlist==1.8.0
google-api-core==2.30.0
google-auth==2.49.1
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.73.0
grpcio==1.78.0
grpcio-status==1.78.0
idna==3.11
jmespath==1.1.0
lxml==6.0.2
multidict==6.7.1
numpy==2.4.3
packaging==26.0
pandas==2.3.3
pip-chill==1.0.3
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
RapidFuzz==3.14.3
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
soupsieve==2.8.3
thefuzz==0.22.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
yarl==1.23.0
